.list {
  width: 300px;
  list-style: none;
  padding-left: 0;
}

.contactItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.contactItem + .contactItem {
  margin-top: 5px;
}