.contact-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  list-style: none;
  padding-left: 0;

  &__item {
    margin: 0 30px 25px 30px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc((100% - 300px)/ 3);
    height: 60px;
    font-size: 18px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}