.ContactsApp {
  padding: 30px;
}


.search-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.form-container {
  width: fit-content;
  background-color: white;
  border-radius: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

