.layout {
  height: 100vh;
  max-width: 1600px;
  background-color: #2F303A;
  background-image: linear-gradient(rgba(47, 48, 58, 0.15), 
   rgba(47, 48, 58, 0.15)), url(../../images/backgroundImage.jpg);
  background-size: cover;
  background-position: center;
}