@import './ContactList';
@import './ContactsView';

body {
  margin: 0;
  font-family: serif;
  background-color: #efefef;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navlink {
  text-decoration: none;
  color: #FFF;
}