@import './Layout';
@import './Home';
@import './ContactList';
@import './ContactsView';
@import './ContactModal';

body {
  margin: 0;
  font-family: Roboto, serif;
  font-weight: 400;
  background-color: #efefef;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.navlink {
  text-decoration: none;
  color: #FFF;
}